<div class="form-group">
    <label for="titulo" class="control-label">Titulo</label>
    <input type="text" name="titulo" id="titulo" class="form-control" ng-model="libro.titulo" readonly />
</div>

<div class="form-group">
    <label for="descripcion">Descripcion</label>
    <textarea class="form-control" rows="3" name="descripcion" id="descripcion" ng-model="libro.descripcion" readonly></textarea>
</div>

<div class="form-group">
    <label for="paginas" class="control-label">Páginas</label>
    <input type="number" name="paginas" id="paginas" class="form-control" ng-model="libro.paginas" readonly />
</div>

<div class="form-group">
    <label for="estado">Estado</label>
    <select class="form-control" name="estado" id="estado" ng-model="libro.estado" disabled>
        <option value="">Seleccionar</option>
        <option ng-repeat="estado in estados" value="{{estado}}">{{estado}}</option>
    </select>
</div>

<div class="form-group">
    <label for="editorial">Editorial</label>
    <select class="form-control" name="editorial" id="editorial" ng-model="libro.editorial" ng-options="editorial.id as editorial.nombre for editorial in editoriales" disabled>
    </select>
</div>

<div class="form-group has-feedback">
    <label for="fecha_ingreso" class="control-label">Fecha de ingreso</label>
    <input type="date" name="fecha_ingreso" id="fecha_ingreso" class="form-control" ng-model="fecha_ingreso" readonly/>
</div>

<div>
    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Autores</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="autor in libro.autores">
                <td>{{autor.nombre}}</td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-danger" back>Atras</button>