<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Autores
            <a href="" title="Crear nuevo autor" class="pull-right" ng-click="showFormModal()">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h4>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover my-table">
                <thead>
                    <tr>
                        <th class="td-id">ID</th>
                        <th>Nombre</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="autor in autores | orderBy:'-id'">
                        <td class="td-id">{{autor.id}}</td>
                        <td>{{autor.nombre}}</td>
                        <td class="two-icons">
                            <ul class="list-inline">
                                <li>
                                    <a href="" title="Editar {{autor.nombre}}" ng-click="showFormModal(autor)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="Eliminar {{autor.nombre}}" ng-click="eliminar(autor);">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
